suia-iii-web/src/main/webapp/wsdl/SOAPImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.conexionjbpm.ws.suia.ambiente.gob.ec" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.conexionjbpm.ws.suia.ambiente.gob.ec" xmlns:intf="http://soap.conexionjbpm.ws.suia.ambiente.gob.ec" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.conexionjbpm.ws.suia.ambiente.gob.ec" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="abortarInstanciaJBPM">
    <complexType>
     <sequence>
      <element name="processInstanceId" type="xsd:long"/>
      <element name="deploymentId" type="xsd:string"/>
      <element name="usuario" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="urlBusinessCentral" type="xsd:string"/>
      <element name="timeout" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="abortarInstanciaJBPMResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="abortarInstanciaJBPMResponse">

      <wsdl:part element="impl:abortarInstanciaJBPMResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="abortarInstanciaJBPMRequest">

      <wsdl:part element="impl:abortarInstanciaJBPM" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SOAPImpl">

      <wsdl:operation name="abortarInstanciaJBPM">

         <wsdl:input message="impl:abortarInstanciaJBPMRequest" name="abortarInstanciaJBPMRequest">

       </wsdl:input>

         <wsdl:output message="impl:abortarInstanciaJBPMResponse" name="abortarInstanciaJBPMResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SOAPImplSoapBinding" type="impl:SOAPImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="abortarInstanciaJBPM">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="abortarInstanciaJBPMRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="abortarInstanciaJBPMResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SOAPImplService">

      <wsdl:port binding="impl:SOAPImplSoapBinding" name="SOAPImpl">

         <wsdlsoap:address location="http://localhost:8180/suia-iii-web/services/SOAPImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
